@tailwind base;
@tailwind components;
@tailwind utilities;

.homepage{
    @apply h-full;
}

.header{
    font-family: 'gilroylight';
    /* background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); */
}

.logo{
    font-family: 'K26';
    @apply text-6xl md:text-7xl text-black cursor-none;
}

.cursor-homepage{
    @apply fixed top-0 left-0 h-8 w-8 rounded-full pointer-events-none;
}

.introduction{
    @apply relative lg:min-h-[80vh] flex items-center justify-center h-[80%] xl:pt-[50px];
    font-family: "Montserrat", sans-serif;
}

.introduction-content{
    @apply lg:w-[70%] mx-auto;
}

.content-text{
    @apply text-justify md:text-justify text-[2rem] lg:text-[2.5rem] xl:text-[3.5rem] pt-10 font-light leading-[3.5rem] lg:leading-[4.5rem] xl:leading-[5.5rem];
}
