@tailwind base;
@tailwind components;
@tailwind utilities;

.project {
    font-family: 'gilroylight';
}

.project-track {
    @apply flex gap-[4vmin] absolute left-1/2 top-1/3 select-none;
    transform: translate(0%, 0);
    width: max-content;
}

.project-track>.project-item {
    @apply w-[40vmin] h-[56vmin] relative select-none relative;
    object-position: 0 center;
    border: .5px solid rgba(0, 0, 0, .09)
}

.project-img {
    @apply w-[40vmin] h-[56vmin] relative select-none object-cover;
    object-position: 100% center;
}

.project-info {
   /* background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, .01)); */
}

.text-shadow {}