@tailwind base;
@tailwind components;
@tailwind utilities;

.project {
    font-family: 'gilroylight';
}

.project-track {
    @apply flex flex-col lg:flex-row w-full lg:w-max gap-[5rem] lg:gap-[4vmin] relative lg:absolute lg:left-1/2 lg:top-1/3 select-none;
    transform: translate(0%, 0);
}

@media screen and (max-width: 1024px) {
    .project-track {
    transform: translate(0%, 0) !important;
    }
  }

.project-track>.project-item {
    @apply lg:w-[38vmin] lg:h-[56vmin] relative select-none relative border-[0.5px] border-[rgba(0,0,0,.3)] lg:border-[rgba(0,0,0,.09)];
}

.project-img {
    @apply relative select-none object-cover lg:object-full-center;
}

.project-info {
   /* background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, .01)); */
}

.text-shadow {}