@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-cursor-dark {
  cursor: url("./asset/images/cursor_dark.png"), auto;
  cursor: -webkit-image-set(url("./asset/images/cursor_dark.png") 1x,
      url("./asset/images/cursor_dark.png") 2x),
    auto;
}


.custom-cursor-white {
  cursor: url("./asset/images/cursor_white.png"), auto;
  cursor: -webkit-image-set(url("./asset/images/cursor_white.png") 4 12,
      url("./asset/images/cursor_white.png") 4 15),
    auto;
}

@font-face {
  font-family: 'K26';
  src: url('./asset/fonts/K26/K26ToyBlocks123.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroylight';
  src: url('./asset/fonts/GilroyFont/gilroy-light-webfont.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.container {
  @apply px-8 md:px-10 2xl:px-44;
}